/****************************GENERAL************************************/

*{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

p {
    margin: 0 0 10.5px;
}

* {
    box-sizing: border-box;
}
body{
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 80px;
}
.nav-center,
.center{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

a{
    color: #191919;
    text-decoration: none;
}
ul{
    list-style: none;
}

/****************************NAV BAR************************************/
  
.nav{
    background: #ffffff;
    min-height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
}
.nav .left{
    float: left;
    margin-left: 0;
}
.nav .left li{
    font-size: 14px;
    float: left;
}
.nav .left li a{
    display: block;
    padding: 9px 15px;
    line-height: 30px;
}
.nav .left li a:hover{
    color: #003A70;
}

.nav .right{
    float: right;
    margin-right: 0;
}
.nav .right li{
    font-size: 14px;
    float: left;
}
.nav .right li a{
    display: block;
    padding: 9px 15px;
    line-height: 30px;
}
.nav .right li a:hover{
    color: #003A70;
}

.toggle-nav{
    display: none;
}

.nav-mobile style{
    display: block;
}

/*********NAV BAR END**********/

/****************************MEDIA QUERIES************************************/
@media only screen and (max-width: 640px){
    .nav{
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .nav-center{
        width: 100%;
    }
    .toggle-nav{
        display: block;
        padding: 10px;
        position: absolute;
        right: 10px;
        line-height: 30px;
    }
    .toggle-nav:after{
        content: ' Menu';
    }

    .nav-mobile{
        display: none;
    }

    .style-mobile{
        background: #ffffff;
        top : 51px;
        position : absolute;
        width : 100%;
    }

    .style-mobile li{
        display: block;
        width: 100%;
    }

    .nav .right{
        display: block;
        float: none;
        margin: 0em;
    }

    .nav .left{
        display: block;
        float: none;
        margin: 0em;
    }
}

@media only screen and (min-width: 641px){
    .nav-mobile {
        display:block !important;
    }
}
/*********MEDIA QUERY END**********/

.hero-welcome {
  background: url('../img/gca.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 900px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#abouttext{
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    text-align: justify;
}

/*footer*/

footer {
    background: #003A70;
    color: #fff;
    padding: 50px 0;
}

footer .prefooter-left {
    float: right;
    width: 88%;
}

footer .prefooter-left p {
    font-size: 18px;
}

footer .prefooter-right {
    text-align: center;
    padding-left: 30px;
    margin-top: 4px;
}

.prefooter-right {
    text-align: left;
}

#btn-exit.wb {
    border-color: #fff;
    color: #fff;
}

#btn-exit {
    font-size: 18px;
    /*border-width: 2px;*/
    /*border-style: solid;*/
    display: inline-block;
    padding: 7px 15px 7px 40px;
    line-height: 1.4;
    font-weight: 700;
    position: relative;
    -webkit-transition: .6s ease;
    transition: .6s ease;
}

footer .footer-menu ul {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 8px 0;
}

footer .footer-menu ul li {
    display: inline-block;
    margin: 0 8px 0;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10.5px;
}


footer .footer-menu {
    text-align: center;
}

footer .footer-menu ul li a:hover {
    color: #D08B0B;
}
footer .footer-menu ul li a {
    font-size: 13px;
    color: #fff;
}
footer a:hover {
    color: #D08B0B;
}
a:focus, a:hover {
    outline: 0;
    text-decoration: none;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}

footer .social-footer {
    text-align: center;
    padding-top: 30px;
}

footer .social-footer ul {
    padding: 8px 0;
}

footer .social-footer ul li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

footer .disclaimer-footer p {
    font-size: 13px;
}

footer .prefooter-right {
    text-align: left;
}